// Variables
$primary: #fd7e14;
$font-family-sans-serif: roboto, sans-serif !default;

// Imports
@import '~bootstrap/scss/bootstrap';
@import '~mapbox-gl/dist/mapbox-gl.css';

// Styles
html,
body {
	inline-size: 100%;
	block-size: 100%;
}
